html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  background-color: rgb(36, 51, 82);
  background-image: url("../img/desk/bg.jpg");
  background-repeat: repeat;
  /* background-size: 187px auto; */
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 375px;
}

.section {
  padding: 50px 0;
}

.page-header {
  padding: 110px 0 50px 0;
  display: flex;
  justify-content: center;
}

.page-logo,
.page-logo-icon {
  width: 170px;
  height: 89px;
}

.page-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  gap: 29px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 68px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.61538;
  color: rgba(255, 255, 255, 0.4);
}

@media only screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 768px;
  }

  .section {
    padding: 90px 0 139px 0;
  }

  .page-header {
    padding: 253px 0 97px 0;
  }
  .page-logo,
  .page-logo-icon {
    width: 331px;
    height: 173px;
  }

  .page-nav-list {
    flex-direction: row;
    justify-content: center;
    gap: 38px;
  }

  .nav-link {
    transition: color 250ms linear;
  }

  .nav-link:hover {
    color: rgba(255, 255, 255, 0.6);
  }

  .footer {
    flex-direction: row;
    justify-content: center;
    padding: 139px 0 126px 0;
    font-size: 14px;
  }
}
